@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: 245 218 255;
  --color-vibrant: 223 155 248;
  --color-dark: 33 14 39;

  --color-front: var(--color-dark);
  --color-mid: var(--color-vibrant);
  --color-back: var(--color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-front: var(--color-light);
    --color-mid: var(--color-vibrant);
    --color-back: var(--color-dark);
  }
}

body {
  @apply bg-light;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}